.banner_1{
    position: absolute;
    left: 6.78%;
    right: 5.83%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 400%;
    text-align: center; 
    color: #FFFFFF;
}