.form-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: relative;
    margin: 5% 20%;
    

  }
  
  .form-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 101px;
    color: #ffffff;

  }
  
  form {
    margin-top: 30px;
  }
  
  form label {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    
  }
  
  form input[type='text'],
  form input[type='email'] {
    width: 100%;
    height: 48px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  form input[type='radio'] {
    margin-right: 5px;
  }

  .error {
    color: rgb(238, 0, 52);
  }

  input.input-error,
  select.input-error {
    border-color: rgb(238, 0, 52);
    border: 50px;
  }
  