
  .Ann_reg_footer {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    color: #ffffff;
    font-size: 90%;
  }
   
  .ann_reg_button_1,
  .ann_reg_button_2 {
    width: 100%;
    position: relative;
    display: flex;
    padding: 15% 12% 10% 12%;
    margin-left: 4%;
    
  }
  

  .ann_reg_button_1 .MuiButton-root,
  .ann_reg_button_2 .MuiButton-root {
    border: 1;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-size: 230%;
    text-align: center;
    transition: all 0.3s ease;
    text-transform: none;
    line-height: 1.45;
    padding: 10%; /*button padding*/
    width: 90%;/*button width*/

  }
  
  .ann_reg_button_1 .MuiButton-root {
    border: 1;
    border-image-source: linear-gradient(0deg, rgba(253, 83, 146, 0.996) 0%, #f86f64 100%);
    border-image-slice: 1;
    border-width: 2px;
  }
  
  .ann_reg_button_2 .MuiButton-root {
    border: 1;
    border-image-source: linear-gradient(0deg, #ED3B4B 0%, #4C3B92 100%);
    border-image-slice: 1;
    border-width: 2px;
  }
  
  .ann_reg_button_1 .MuiButton-root:hover,
  .ann_reg_button_2 .MuiButton-root:hover {
    background-color: rgba(22, 22, 22, 0.6);
    color: #d6d6d6;
    border: 5;
    border: 5;
    border-image-source: linear-gradient(0deg, rgba(51, 16, 131, 0.996) 0%, #6d073f 100%);
    border-image-slice: 1;
    border-width: 2px;
  }
  
  .ann_button_login {
    background-color: #ed3b4b;
    color: #ffffff;
    margin-left: 300%;
  }
  
  .ann_button_login.MuiButton-root:hover {
    background-color: rgba(187, 0, 0, 0.6);
    color: #d6d6d6;
    border: none;
  }
  
  .ann_login_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 130%;
    color: #ffffff;
    margin:"800px"
  }
  